Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [3]:
s="PWSkills"
list1 = [1,2,"a",3]
fl = 3.14
tup = (1,2,3,4,1,4)
print(type(s))
print(type(list1))
print(type(fl))
print(type(tup))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1
What will be the data type of the above given variable.

i) string
ii) string
iii) list
iv) int

In [6]:
print(type(''),type('[ DS , ML , Python]'), type([ 'DS' , 'ML' , 'Python' ]),type(1))

<class 'str'> <class 'str'> <class 'list'> <class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [22]:
#  / is used to find the quostient (in float) when two values are divided
print(5/2,10/5 , 50/50 ,sep = " , ") 

# % modulus operator gives remainder
print(19%2 , 14.0%4 , 10%10 , 12%5.0 ,sep=" , ")

# // gives  the absolute quotient
print(2.0//2 , 13//3 , 25.23245646//5 , sep= ' , ')

''' ** operator computes power. lhs is the base value rhs is the power value
    eg : 2**3  = 2*2*2 =8
         4**2 =  4*4 = 16 '''
print (2**3 , 4**2 , sep = " , ")

2.5 , 2.0 , 1.0
1 , 2.0 , 0 , 2.0
1.0 , 4 , 5.0
8 , 16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [26]:
l = [ 1 ,'abc' ,3,1.0 ,True , [1,2,3] ,{1,2,3},(1,2,3),12,356]
print( "length of list = " ,len(l))
for i in l:
    print(i , type(i))

length of list =  10
1 <class 'int'>
abc <class 'str'>
3 <class 'int'>
1.0 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
{1, 2, 3} <class 'set'>
(1, 2, 3) <class 'tuple'>
12 <class 'int'>
356 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
A = int(input())
B = int(input())

while( True):
    if int(A%B)==0:
        print("purely divisible by ",A/B," times")
        break
    else:
        print("not purely divisible")
        break
   

  
# if B==A :
#     print( "purely divisible by" , count , "times")
# else :
#     print('not purely divisible')

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [9]:
l = [1,43,64,2,5,35,78,59,15,84,25,74,57,56,85,45,28,94,78,46,612,75,82,45,55]

for i in l:
    if(i%3==0):
        print( i )
    else:
        continue

78
15
84
57
45
78
612
75
45

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [11]:
'''
mutable : Anything is said to be mutable when anything can be modified or changed. 
The term "mutable" in Python refers to an object's capacity to modify its values. 
These are frequently the things that hold a data collection.

immutable : Immutable refers to a state in which no change can occur over time.
A Python object is referred to as immutable if we cannot change its value over time. 
The value of these Python objects is fixed once they are made.'''


l = [1,2,3,4]
l[0] = 0
print(l)

string = 'hello world'  
string[0] = 'X'  
print(string)  #error due to immutability

[0, 2, 3, 4]

TypeError: 'str' object does not support item assignment